{% extends "base_tpl.html" %}

{% block html_title %}Mobile Notes - Notes on the go{% endblock %}

{% block maincontent %}
		<div class="content-secondary">
	
			<div id="jqm-homeheader">
				<h1 id="jqm-logo">Mobile Notes</h1>
				<p>A Touch-Optimized Notes App for Smartphones &amp; Tablets</p>
			</div>
	
	
			<p class="intro"><strong>Welcome.</strong> Feel free to register and use our services.</p>
			
			<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="f">
				<li data-role="list-divider">Overview</li>
				<li><a href="#">Features</a></li>
				<li><a href="#">Sign Up</a></li>
				<li><a href="#">Signin</a></li>
				<li><a href="#">Supported platforms</a></li>
			</ul>
			
		</div><!--/content-primary-->	

{% endblock %}